* {
  margin: 0;
}

@font-face {
  font-family: "Franklin Gothic";
  src: url("franklin-gothic-heavy-italic.ttf");
}

h1{
 font-family: "Franklin Gothic";
  font-size: 70px;
}

h3{
  font-family: "Franklin Gothic";
  font-size: 45px;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
a{
  color: black;
}
video{
  object-fit: fill;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusts columns dynamically */
  grid-auto-rows: minmax(200px, auto); /* Flexible row sizes */
  row-gap: 1ch;
  border: 40px white solid;
  }
  
  @media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Adjust to 3 columns */
    }
  }

  @media (max-width: 768px) {
      .grid-container {
          grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
      }
  }

  @media (max-width: 480px) {
      .grid-container {
          grid-template-columns: repeat(1, 1fr); /* Stack items in a single column */
      }
  }

  .grid-item {
  width: 100%; /* Allows items to shrink/grow */
  height: auto; /* Ensures items scale properly */
  gap: 1ch;
  row-gap: 1em;
  }

  .grid-item:not(.grid-item-1, .grid-item-13, .grid-item-24, .grid-item-34):hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

  .grid-item-1{
    grid-column: span 2;
    align-content: center;
  }


  .grid-item-13{
    grid-column: span 2;
    padding: 60px;
    padding-right: 20px;
  }
  

  .grid-item-24{
    grid-column: span 3;
  }
  
  
  .grid-item-34{
    grid-column: span 3;
  }

